html, body {
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    background-color: #FFF;
    color: #250d0d;
    padding: 20px 40px;
    box-sizing: border-box;
}

.content { 
    display: flex;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 50%;
}

.block { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 50px;
    border: 10px solid transparent;
    border-radius: 5%;
    transition: all 0.3s ease;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

#rome {
    background-image: url("https://tourismmedia.italia.it/is/image/mitur/20220127150143-colosseo-roma-lazio-shutterstock-756032350-1?wid=1600&hei=900&fit=constrain,1&fmt=webp");
}

#brussel {
    background-image: url("https://allesoverbelgie.nl/wp-content/uploads/sites/21/2023/12/brussel.jpg");
}

#newyork {
    background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/07/bd/6f/17.jpg");
}

.block:hover { 
    transform: scale(1.25); 
    border: 5px solid transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.footer {
    position: relative;
    background-color: #808080;
    color: #FFF;
    padding: 40px;
    height: 100px; 
    box-sizing: border-box;
}

.footer-block2 {
    position: absolute;
    bottom: 10px; 
    right: 10px;  
}