html, body {
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    width: 100%;
    background-color: #1d71b8;
    color: #FFF;
    padding: 40px;
}

.content { 
    display: flex;
    background-color: #FF0;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 50%;
}

.block { 
    background-color: #F00;
    display: inline-block;
    width: 32%;
    height: 150px;
    margin: 5px;
    border: 10px solid transparent;
    border-radius: 5%;
    transition: all 0.3s ease;
}

.block:hover { 
    border: 5px solid transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.footer {
    background-color: #000;
    color: #FFF;
    padding: 40px;
}