/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

.color-box {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: red;
    text-align: center;
    line-height: 150px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
}


.color-box:hover {
    background-color: blue;
}


.color-box:active {
    background-color: orange;