/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */
:root {
  --main-color: rgb(145, 255, 0);
  --hover-color: #81af16;
  --text-color: #FFF;
  --gradient-start: #FF9800;
  --gradient-end: #FF5722;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  text-align: center;
  padding: 50px;
  color: var(--text-color);
}

.button-container a {
    display: inline-block;
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: #F00;

    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);

    text-decoration: none;
    transition: all 0.5s ease;
    margin: 10px;
}

.button-container a:hover {
    background-color: #AF1F16;
    text-decoration: none;
}


.button-container a.btn-variable {
  background-color: var(--main-color);
  color: var(--text-color);
}

.button-container a.btn-variable:hover {
  background-color: var(--hover-color);
}


.button-container a.btn-gradient {
  background: linear-gradient(90deg, var(--gradient-start), var(--gradient-end));
  color: var(--text-color);
}

.button-container a.btn-gradient:hover {
  background: linear-gradient(90deg, #FFB74D, #FF7043);
}