/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

.cascading-parent {
     font-weight: bold;
    color: #FFF;
    text-align: center;
    background-color: #333;
    padding: 30px;
}

.cascading-child {
      background-color: #FF0 !important;
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 18px;
}