/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

a {
    font-size: 20px;
    color: #F00;
    text-decoration: none;
}

.header a {
    color: #0F0;
}

.footer a {
    color: #FF0;
}

.cascading-parent h2 {
    color: #FD0;
}

.cascading-parent a {
    font-size: 28px;
    color: #CCC;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    padding: 20px;
}

h2 {
    margin-bottom: 5px;
}