/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

..site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 200px;
}

.site-color {
    background-color: indigo;
    color: #FFF;
}

.site-square {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}
.alt-site-square {
    width: 500px;;
    height: 500px;
     display: inline-block;
    margin: 10px;
    border-radius: 10px;
}

.alt-color {
    background-color: crimson;
    color: #FFF;
}