/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

.red-square {
     width: 80px;
     height: 80px;
     color: #FFF;
     padding: 20px;
     margin: 10px;
     font-size: 14px;
     background-color: rgba(255,0,0,0.4);
     display: inline-block;
}

#person { 
  background-color: rgb(208, 255, 0);
  font-size: 30px;
  color: blue;
  width: 200px;
  height: 200px;

}
<div id="person">...