/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

:root {
    --box-color: #4CAF50;
    --box-padding: 20px;
    --box-margin: 10px;
    --text-color: #FFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: var(--text-color);
    text-align: center;
    padding: 30px;
}

.box {
    background-color: var(--box-color);
    padding: var(--box-padding);
    margin: var(--box-margin);
    width: 150px;
    height: 150px;
    display: inline-block;
    line-height: 150px;
    border-radius: 10px;
    font-weight: bold;
}